* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

.golden-ratio-grid {
  display: grid;
  grid-template-columns: 19.0983005625% 19.0983005625% 42.7050983125% 19.0983005625%;
}
.golden-ratio-grid .position-1 {
  grid-column-start: 1;
}
.golden-ratio-grid .position-2 {
  grid-column-start: 2;
}
.golden-ratio-grid .position-3 {
  grid-column-start: 3;
}
.golden-ratio-grid .position-4 {
  grid-column-start: 4;
}
.golden-ratio-grid .span-1 {
  grid-column-end: span 1;
}
.golden-ratio-grid .span-2 {
  grid-column-end: span 2;
}
.golden-ratio-grid .span-3 {
  grid-column-end: span 3;
}
.golden-ratio-grid .span-4 {
  grid-column-end: span 4;
}