* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  font-size: 62.5%;
  background-color: #FFFFFF;
  color: #000000;
}

html,
body {
  height: auto;
  min-height: 100%;
  font-family: "Epilogue", sans-serif;
}

body {
  font-size: 1.6rem;
  padding-bottom: 12rem;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.container {
  width: 100%;
  max-width: 1620px;
  margin: 0 auto;
}

.golden-ratio-grid {
  display: grid;
  grid-template-columns: 19.0983005625% 19.0983005625% 42.7050983125% 19.0983005625%;
}
.golden-ratio-grid .position-1 {
  grid-column-start: 1;
}
.golden-ratio-grid .position-2 {
  grid-column-start: 2;
}
.golden-ratio-grid .position-3 {
  grid-column-start: 3;
}
.golden-ratio-grid .position-4 {
  grid-column-start: 4;
}
.golden-ratio-grid .span-1 {
  grid-column-end: span 1;
}
.golden-ratio-grid .span-2 {
  grid-column-end: span 2;
}
.golden-ratio-grid .span-3 {
  grid-column-end: span 3;
}
.golden-ratio-grid .span-4 {
  grid-column-end: span 4;
}
.golden-ratio-grid.background-grid {
  position: fixed;
  width: 100%;
  max-width: 1620px;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.golden-ratio-grid.background-grid .grid-border:not(:last-child) {
  border-right: 1px solid #C2C2C2;
}

.u-position-relative {
  position: relative;
}
.u-flex {
  display: flex;
}
.u-justify-end {
  justify-content: end;
}
.u-align-right {
  text-align: right;
}

.title {
  font-size: 7.4rem;
  font-weight: 600;
  line-height: 125%;
  color: #000000;
}
.title span {
  color: #8A8A8A;
}
.title-sm {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
}

.journey-item,
.certificate-item {
  margin-top: 7.2rem;
}
.journey-item header,
.certificate-item header {
  display: flex;
  align-items: center;
}
.journey-item header .icon,
.certificate-item header .icon {
  width: 5.4rem;
  height: 5.4rem;
  background-color: #C2C2C2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.journey-item header .company h3,
.certificate-item header .company h3 {
  font-size: 3.2rem;
  font-weight: 700;
}
.journey-item header .company p,
.certificate-item header .company p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: #8A8A8A;
}
.journey-item .role,
.certificate-item .role {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 3.2rem;
}
.journey-item .role:not(:first-child),
.certificate-item .role:not(:first-child) {
  margin-top: 4.8rem;
}
.journey-item .role-wrapper,
.certificate-item .role-wrapper {
  display: flex;
  flex-direction: column;
}

.role h3 {
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 150%;
}
.role p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}
.role p span {
  position: relative;
  font-weight: 700;
  margin-left: 2.4rem;
}
.role p span::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #000000;
  position: absolute;
  left: -16px;
  top: calc(50% - 2px);
}

.journey-item {
  border-left: 1px solid #000000;
  margin-left: -1px;
}
.journey-item header .icon {
  margin-right: 1.2rem;
}
.journey-item .role {
  margin-left: 1.6rem;
}
.journey-item .role-wrapper {
  align-items: flex-start;
}

.certificate-item {
  text-align: right;
  border-right: 1px solid #000000;
}
.certificate-item header {
  display: flex;
  flex-direction: row-reverse;
}
.certificate-item header .icon {
  margin-left: 1.2rem;
}
.certificate-item .role {
  margin-right: 1.6rem;
}
.certificate-item .role-wrapper {
  align-items: flex-end;
}

.index-tag {
  width: 4.8rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 2.4rem;
  font-weight: 700;
  padding-top: 3px;
}

.menu {
  writing-mode: vertical-rl;
  display: flex;
  align-items: center;
  margin: 6.1rem 0 0 auto;
  padding: 3.2rem 2.4rem;
  background-color: #FFFFFF;
  position: fixed;
  z-index: 99999;
}
.menu-wrapper {
  display: flex;
  justify-content: end;
  padding-right: 5.2rem;
}
.menu .pointer {
  width: 0.6rem;
  height: 1.6rem;
  background-color: #45E5A3;
  position: absolute;
  top: 3.2rem;
  right: 0.8rem;
}
.menu .item {
  font-weight: 600;
  font-size: 1.9rem;
  color: #000000;
  letter-spacing: 0.5px;
}
.menu .item:not(:last-child) {
  margin-bottom: 6.4rem;
}

.tags {
  text-align: right;
  position: absolute;
  right: 0;
  bottom: -5rem;
}
.tags .item {
  text-transform: uppercase;
  display: block;
  font-size: 2.8rem;
  line-height: 150%;
  font-weight: 300;
  letter-spacing: 1px;
}

.portfolio-slider,
.control-slider {
  width: 100%;
  overflow: hidden;
  margin-top: 4.2rem;
  position: relative;
}

.portfolio-slider {
  height: 68.5rem;
}
.portfolio-slider .swiper-slide {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.portfolio-slider .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 0 0;
  object-position: 0 0;
}

.control-slider .index-tag {
  margin-bottom: 4.2rem;
}
.control-slider .swiper-slide {
  background-color: #FFFFFF;
}
.control-slider .case-link {
  display: block;
  font-size: 2.4rem;
  font-weight: 700;
  color: #000000;
  text-decoration: underline;
  margin-top: 4.8rem;
}
.control-slider .swiper-button-next,
.control-slider .swiper-button-prev {
  width: 4.8rem;
  height: 4.8rem;
  background-color: #8A8A8A;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  top: 60%;
}
.control-slider .swiper-button-next:hover,
.control-slider .swiper-button-prev:hover {
  background-color: #000000;
}
.control-slider .swiper-button-next, .control-slider .swiper-button-prev {
  left: 0;
}
.control-slider .swiper-button-next::after, .control-slider .swiper-button-prev::after {
  font-size: 0;
}
.control-slider .swiper-button-next {
  right: auto;
  left: 8rem;
}
.control-slider .swiper-button-next::after {
  content: url(../images/slides/arrow-right.svg);
}
.control-slider .swiper-button-prev::after {
  content: url(../images/slides/arrow-left.svg);
}

.header .title {
  padding-top: 50%;
}
.header .logo {
  position: fixed;
}
.header .logo img {
  margin-top: 9.2rem;
  margin-right: 2.4rem;
  width: 8rem;
  height: 8rem;
}

.section-journey {
  padding-top: 12.6rem;
}

.section-certificate {
  padding-top: 10rem;
}

.section-portfolio {
  padding-top: 4.2rem;
  position: relative;
}
.section-portfolio .slide-title {
  font-size: 7.2rem;
  font-weight: 400;
}