.journey,
.certificate {
    &-item {
        margin-top: 7.2rem;

        header {
            display: flex;
            align-items: center;

            .icon {
                width: 5.4rem;
                height: 5.4rem;
                background-color: $default-100;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    width: 3.8rem;
                    height: 3.8rem;
                }
            }

            .company {
                h3 {
                    font-size: 3.2rem;
                    font-weight: 700;
                }

                p {
                    font-family: 'Nunito Sans', sans-serif;
                    font-size: 1.6rem;
                    font-weight: 600;
                    color: $default-200;
                }
            }
        }

        .role {
            margin-top: 3.2rem;

            &:not(:first-child) {
                margin-top: 4.8rem;
            }

            &-wrapper {
                display: flex;
                flex-direction: column;
            }
        }
        
    }
}

.role {
    h3 {
        font-weight: 400;
        font-size: 3.2rem;
        line-height: 150%;
    }

    p {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1.6rem;
        font-weight: 400;

        span {
            position: relative;
            font-weight: 700;
            margin-left: 2.4rem;

            &::before {
                content: '';
                width: 5px;
                height: 5px;
                border-radius: 5px;
                position: absolute;
                left: -16px;
                top: calc(50% - 2px);
            }
        }
    }
}

.journey {
    &-item {
        border-left-width: 1px;
        border-left-style: solid;
        margin-left: -1px;

        header {
            .icon {
                margin-right: 1.2rem;
            }
        }

        .role {
            margin-left: 1.6rem;

            &-wrapper {
                align-items: flex-start;
            }
        }
    }
}

.certificate {
    &-item {
        text-align: right;
        border-right: 1px solid $default;

        header {
            display: flex;
            flex-direction: row-reverse;

            .icon {
                margin-left: 1.2rem;
            }
        }

        .role {
            margin-right: 1.6rem;

            &-wrapper {
                align-items: flex-end;
            }
        }
    }
}

.index-tag {
    width: 4.8rem;
    height: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    font-weight: 700;
    padding-top: 3px;
}


[data-switch-theme] {
    position: relative;
    width: 1.6rem;
    margin-top: 3.6rem;
    display: flex;
    align-items: center;
}

input[type=checkbox].toggle-switch {
    transform: rotate(90deg);
    
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: 0;
    cursor: pointer;
    
    // Since this is rotated 90deg 
    // height and width are reversed
    
    /* width of the track */
    width: 4em;
    /* height of the track */
    height: 1em;
    border-radius: 3em;
    background-color: #ccc;
    
    transition: background-color 0.09s ease-in-out;
    position: relative;
        
    &:active::after {
        background-color: #f2f2f2;
        padding-right: .8em;
    }
    
    &::after {
        content: url(../images/icons/icon-sun.svg);
        /* toggle shape -- 
        height should equal width 
        to maintain circle */
        box-sizing: border-box;
        padding: 0.6rem;
        width: 2em; 
        height: 2em;
        background-color: white;
        border-radius: 3em;
        position: absolute;
        left: -5px;
        top: 50%;
        transform: translateY(-50%);
        transition: left .3s cubic-bezier(
            0.175, 0.885, 0.320, 1.275
            ),
            padding .3s ease, margin .3s ease;
        box-shadow: 3px 0px 8px 0 rgba(0,0,0,0.35);
    }
}

input[type=checkbox].toggle-switch:checked {
    background-color: #333;
    &:active::after {
        margin-left: -.8em;
    }
    &::after {
        content: url(../images/icons/icon-moon.svg);
        // Location of toggle handle when checked
        // should equal ~ .5 of the width of
        // input[type=checkbox].toggle-switch
        left: 2em;
        background-color: #242424;
    }
}
 