.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}

.golden-ratio-grid {
    display: grid;
    grid-template-columns: $grid-size-3 $grid-size-3 $grid-size-4 $grid-size-3;

    // .grid-border {
    //     height: 30px;
    //     border: 1px solid #000;
    // }

    .position {
        &-1 {
            grid-column-start: 1;
        }
        &-2 {
            grid-column-start: 2;
        }
        &-3 {
            grid-column-start: 3;
        }
        &-4 {
            grid-column-start: 4;
        }
    }

    .span {
        &-1 {
            grid-column-end: span 1;
        }
        &-2 {
            grid-column-end: span 2;
        }
        &-3 {
            grid-column-end: span 3;
        }
        &-4 {
            grid-column-end: span 4;
        }
    }
    
}