.banner {
    mark {
        padding: 4px 24px;
        margin-left: -24px;
        margin-right: -24px;
    }
}

footer {
    mark {
        padding: 4px 8px;
        margin-left: -8px;
        margin-right: -8px;
    }
}

mark {
    cursor: default;
    color: $default-200;
    background-color: none;
    background: linear-gradient(90deg, $primary 49.9%, rgba(255, 255, 255, 0) 49.9%);
    background-size: 200% 100%;
    background-position: 100% 0;
}

.photo {
    position: absolute;
    left: -450px;
    top: 25rem;
    z-index: -1;
    transition: all .8s ease-in-out;
    opacity: 0;
    transform: translateY(80px);
}

[data-highlight="on"] {

    .photo {
        opacity: 1;
        transform: translateY(0);
    }

    mark {
        color: $default;
        animation: highlight 1s 1 normal forwards;
    }
}