.menu{
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;
    margin: 6.1rem 0 0 auto;
    padding: 3.2rem 2.4rem;
    background-color: $negative;
    position: fixed;

    &-wrapper {
        display: flex;
        justify-content: end;
    } 

    .pointer {
        width: 0.6rem;
        height: 1.6rem;
        background-color: $primary;
        position: absolute;
        top: 3.2rem;
        right: 0.8rem;
    }

    .item {
        font-weight: 600;
        font-size: 1.9rem;
        color: $default;
        letter-spacing: .5px;

        &:not(:last-child) {
            margin-bottom: 6.4rem;
        }
    }
}