.menu{
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;
    margin: 6.1rem 0 0 auto;
    padding: 3.2rem 2.4rem 4.2rem 2.4rem;
    position: fixed;
    z-index: 99999;
    transition: background-color .3s;
    will-change: background-color;

    @media (max-width: $mobile) {
        padding: 3.2rem 1.6rem 6.2rem 1.6rem;
        margin: 1.6rem 0.8rem 0 0;
    }

    &-wrapper {
        display: flex;
        justify-content: end;
        padding-right: 5.2rem;

        @media (max-width: $mobile) {
            padding-right: 0;
        }
    } 

    .pointer {
        width: 0.6rem;
        height: 1.6rem;
        background-color: $primary;
        position: absolute;
        top: 3.2rem;
        transition: top .3s;
        will-change: top;
        right: 0.8rem;
    }

    .item {
        font-weight: 600;
        font-size: 1.6rem;
        letter-spacing: .5px;

        &:not(:last-child) {
            margin-bottom: 4.8rem;
        }

        @media (max-width: $mobile) {
            font-size: 1.2rem;
        }
    }
}