[data-theme="dark-mode"] {
    body {
        color: $default;
    }

    .background-color {
        background-color: $default;
    }

    .background-grid {
        .grid-border:not(:last-child) {
            border-right: 1px solid $default-100;
            opacity: .3;
        }
    }

    .title {
        color: $negative;

        &-sm {
            color: $negative;
        }
    }

    .subtitle {
        color: $negative;
    
        span {
            color: $default-200;
        }
    }

    .slide-title {
        color: $negative;
    }

    .menu {
        background-color: $default;

        .item {
            color: $negative;
        }
    }

    .journey,
    .certificate {
        &-item {
            border-color: $negative;

            .company {
                h3 {
                    color: $negative;
                }
            }

            .role {
                background-color: rgba($color: $default, $alpha: .5);
                color: $negative;

                p {
                    span {
                        &::before {
                            background-color: $negative;
                        }
                    }
                }
            }
        }
    }

    .swiper-slide {
        background-color: $default;
    }

    .index-tag {
        background-color: $negative;
        color: $default;
    }

    .control-slider {
        color: $negative;
        
        .case-link {
            color: $negative;
        }

        .swiper-button-next,
        .swiper-button-prev {
            background-color: $default-200;

            svg {
                fill: $negative;
            }

            &:hover {
                background-color: $negative;

                svg {
                    fill: $default;
                }
            }
        }
    }

    .social-network {
        &-email,
        &-label {
            color: $negative;
        }
            
        .icon-square {
            background-color: $negative;

            svg {
                fill: $default;
            }
        }
    }

    .stamp {
        &-circle,
        &-logo {
            .fill-path {
                fill: $negative;
            }
        }
    }

    .developed-by {
        p {
            color: $negative;

            span {
                &.dot {
                    &::before {
                        background-color: $negative;
                    }
                }
            }
        }
    }
}

[data-theme="light-mode"] {
    body {
        color: $negative;
    }

    .background-color {
        background-color: $negative;
    }

    .background-grid {
        .grid-border:not(:last-child) {
            border-right: 1px solid $default-100;
        }
    }

    .title {
        color: $default;

        &-sm {
            color: $default;
        }
    }

    .subtitle {
        color: $default;
    
        span {
            color: $default-200;
        }
    }

    .slide-title {
        color: $default;
    }

    .menu {
        background-color: $negative;

        .item {
            color: $default;
        }
    }

    .journey,
    .certificate {
        &-item {
            border-color: $default;

            .company {
                h3 {
                    color: $default;
                }
            }

            .role {
                background-color: rgba($color: $negative, $alpha: .5);
                color: $default;

                p {
                    span {
                        &::before {
                            background-color: $default;
                        }
                    }
                }
            }
        }
    }

    .index-tag {
        background-color: $default;
        color: $negative;
    }

    .swiper-slide {
        background-color: $negative;
    }

    .control-slider {
        color: $default;

        .case-link {
            color: $default;
        }

        .swiper-button-next,
        .swiper-button-prev {
            background-color: $default-200;

            svg {
                fill: $negative;
            }

            &:hover {
                background-color: $default;
            }
        }
    }

    .social-network {
        &-email,
        &-label {
            color: $default;
        }
            
        .icon-square {
            background-color: $default;

            svg {
                fill: $negative;
            }
        }
    }

    .stamp {
        &-circle,
        &-logo {
            .fill-path {
                fill: $default;
            }
        }
    }

    .developed-by {
        p {
            color: $default;

            span {
                &.dot {
                    &::before {
                        background-color: $default;
                    }
                }
            }
        }
    }
}
