.title {
    font-size: 7.4rem;
    font-weight: 600;
    line-height: 125%;
    color: $default;

    span {
        color: $default-200;
    }

    &-sm {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1.6rem;
    }
}