.u {
    &-position {
        &-relative {
            position: relative;
        }
    }

    &-flex {
        display: flex;
    }

    &-justify {

        &-end {
            justify-content: end;
        }
    }

    &-align {
        &-right {
            text-align: right;
        }
    }
}