$primary: #45E5A3;
$default: #000000;
$negative: #FFFFFF;
$default-100: #C2C2C2;
$default-200: #8A8A8A;


// Golden ratio grid
@use 'sass:math';

$phi: calc((1 + math.sqrt(5)) / 2); // 1.61803398874989 or "The Golden Ratio"

$golden-square-lg: calc(100% / $phi);
$golden-square-md: calc($golden-square-lg / $phi); // (100% / $phi) / $phi

$grid-size-sm: calc($golden-square-md / 2); // ((100% / $phi) / $phi) / 2
$grid-size-md: calc($golden-square-lg - $grid-size-sm); // (100% / $phi) - (((100% / $phi) / $phi) / 2)


// Breakpoints
$desktop: 1620px;
$mobile: 576px;